
html { 
  background-color: #353335;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landingPageContainer{
  width: 100%;
  position: absolute;
  height: 100%;
  text-align: center;
  font-family: "Playfair Display", Arial, serif;
  color: #111;


}

h1.landingPage{

  font-size: calc(100% + 1.5vw);
  color: #fff;
  top: 15%;
  height: 20%;

}

h2{

  font-size: 50px;
}
.img{
  background: url("../image/logo.gif") no-repeat center ;
  background-size: 20%;
  height: 40%;


}

.file{

  margin-top: 5%;

}

.file>.upload{


  color:#fff;
  background-color: #30a705;
  border: none;
  box-shadow: none;
  font-size:  calc(50% + 1vw);
  border-radius: 10px;

}
.file>.demo{
  background: #fff;
  color: #111;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  font-size:  calc(50% + 1vw);
}
